/* CustomerRate.css */
.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; 
    font-family: "Arial", sans-serif; 
  }
  
.centered-message p {
  font-size: 24px; 
  color: #2b4f75; 
}

.hide-button {
  display: none;
}